<div class="container col-md-12 border-top">
<h4>Available Library</h4>
<hr>
		<% (0..books.length-1).step(11) do |i| %>
			<div class="row row-padded">
				<% books[i..(i+9 % books.length)].each do |book| %>
					<div class="col-md-1 col-xs-4 col-sm-21 unpadded">
						<% if current_user == @user %>
							<%= link_to(image_tag(book.cover_url, :class=>"img-responsive"), new_user_book_borrow_path(book)) %>
						<% else %>
							<%= link_to(image_tag(book.cover_url, :class=>"img-responsive"), new_user_book_borrow_path(book)) %>
							<% end %>
					</div>
				<% end %>
			</div>
				<div class="clear-fix"></div>
		<% end %>
</table>