<div class="container col-md-8">
		<% (0..books.length-1).step(5) do |i| %>
			<div class="row">
				<% books[i..(i+3 % books.length)].each do |book| %>
					<div class="col-md-3 container">
							<p><%= link_to(image_tag(book.cover_url, :class=>"panel panel-default"), user_book_path(book)) %></p>
					</div>
				<% end %>
				<div class="clear-fix"></div>
			</div>
		<% end %>
</table>