<table class="table">
  <tr>
    <%= render partial: 'borrow', collection: borrows %>
    <% @placeholders.times do %>
      <%= render partial: 'borrow_placeholder' %>
    <% end %>
  </tr>
</table>
<div style="float:right" >
  <%= link_to "View all", user_borrows_path(@user), :class => "btn btn-default"%>
</div>
