<table class="table">
  <tr>
    <th>Borrows</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <%= render partial: 'borrow', collection: borrows %>
    <% @placeholders.times do %>
      <%= render partial: 'borrow_placeholder' %>
    <% end %>
    <td class="view_all" style="vertical-align:bottom" ><%= link_to "View all", user_borrows_path(@user)%></td>
  </tr>
</table>
