<td>
<%= link_to [borrow.user, borrow] do %>
  <%= image_tag borrow.user_book.book.cover_url, :style => "height:100" %>
<% end %>
<ul class="list-unstyled">
  <li><div style="width:128px"><strong><%= borrow.book.title %></strong></div></li>
</ul>
</td>
