<div class="container col-xs-12 col-sm-6 col-md-8">
	
	<% books.each do |book|%>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
	 			<%= link_to image_tag(book.cover_url), book %>
	 			<div class="caption">
	 				<h4><%= link_to book.title, book %></h4>
 					<p>
	 					<small><%= link_to book.author, :controller => "books", :query => book.author %></small>
	 				<% if current_user == user && !book.on_loan? %>
 						<%= button_to("Loan", new_user_book_borrow_path(book), :class => "btn btn-primary") %>
	 				<% end %>
 					</p>
	 			</div>
	 		</div>
	 	</div>

	<% end %>
	</div>
</div>
