	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<%= render :partial => "profile", :locals => {:user => @user} %>
		</div>
		<div class="col-md-8">
	 		<%= render :partial => "borrows", :locals => {:books => @user.user_books, :user => @user} %>
    </div>
	 </div>
	 <div class="row">
	 	<div class="col-md-8">
		 	<%#= render :partial => "books", :locals => {:user => @user, :books => @user.user_books} %>
	 	</div>
	 </div>
</div>



<!-- <h2>My Library</h2>

<#%= image_tag avatar_for(@user) %>

<#%= render "user_books/form" %> 
<br> 
<table class = "table table-responsive table-condensed table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Image</th>
    <th>Status</th>
    <th></th>
  </tr>

<#%= render @user_books %>
</table>

<#%= paginate @user_books %>
 -->
