<h2>My Library</h2>

<%= image_tag avatar_for(@user) %>

<%= render "user_books/form" %> 
<br> 
<table class = "table table-responsive table-condensed table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Image</th>
    <th>Status</th>
    <th></th>
  </tr>

<%= render @user_books %>
</table>

<%= paginate @user_books %>
