<div class="container">
  <div class="row">
    <h2>Share your books <em>and</em> get them back.</h2>
    <h4>Keep track of who's borrowing your books with BookBorrow.</h4>
    <div class="border-form-div col-sm-12">
      
      <%= render 'borrow' %>

  </div>
</div>
