<!-- <div class="container text-center col-xs-12">
	<% form_tag "/books", :method => :post, :class=> "form-inline" %>
		<div class="form-group">
			<%= text_field_tag "book[title_from_google]", nil, :placeholder => "Whats the title of your book?" %>
			<input type="submit" class="btn btn-primary" value="Find">
		</div>
	<% end %>
</div> -->
<h1>Hey</h1>