<%= form_for([@user, @user_book]) do |f| %>
  <p>
  <label for="new_user_book"></label>
  <input id="new_user_book" type="text" name="user_book[from_isbn]" placeholder="Add via ISBN">
  <input class="btn btn-primary" type="submit" value="enter">
  </p>

<% end %>
