// Place all the styles related to the borrows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.borrow-placeholder {
  display:table;
  text-align:center;
  width:128px;
  height:192px;
  background-color:lightgrey;
}

.borrow-placeholder span {
  display:table-cell;
  vertical-align:middle;
  font-size:5em;
  color: white;
}
