// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered-image {
  display: block;
  margin: auto;
}

#loan-button {
  display: block;
  margin: auto;
}
