<div class="container">
<table class="table" id="borrows">
  <th></th>
  <th>Checkout</th>
  <th>Overdue</th>
  <th>Contact</th>
  <th>Returned?</th>
  <th></th>
  <%= render @borrows %>
</table>
</div>
