<div class="container">
<h1>Borrow Details</h1>
<table class="table" id="borrows">
  <th></th>
  <th>Checkout</th>
  <th>Overdue</th>
  <th>Contact</th>
  <th>Returned?</th>
  <th></th>
  <%= render @borrow %>
</table>
</div>

<%= link_to "back", user_user_books_path(@borrow.user), :class => "btn btn-default" %>
